html {
  scroll-behavior: smooth;
}
body { 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.pear-green-bg {
  background-color: #60ac15; 
}

a {
  font-size: 18px;
}

.carousel-inner {
  display: flex;
  align-items: center;
}

.carousel-inner img {
  object-fit: cover;
  height: 600px;
}

.carousel-caption {
  text-align: center; 
  bottom: 0;
  color: white;
}

.carousel-heading {
  font-size: 50px; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  color: white; 
}

#products {
  width: 100%;
  height: 800px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-heading {
  font-size: 50px; 
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}

#contact {
  width: 100%;
  height: 300px; 
  background-color: #e6e6e6; 
}

.product-image {
  width: 170px; 
  height: 150px; 
  border: 2px solid #ccc; 
}

#range-value {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.noUi-horizontal .noUi-connect {
  background: #60ac15 !important;
}

.custom-image {
  width: 100%;
  height: 500px;
}

.custom-image1 {
  width: 100%;
  height: 484px;
}

.counter {
  text-align: center;
  padding: 20px;
}
.counter i {
  font-size: 2.5rem;
}

.counter-bg {
  width: 100%;
  background-color: #60ac15;
}

#bridge {
	display: block;
	margin: 0 auto;
  background-image: url('https://imgtr.ee/images/2023/10/22/92585d6d232f7008330cd7fb8b6d4e8c.png');
	background-image: -webkit-image-set(url('https://imgtr.ee/images/2023/10/22/92585d6d232f7008330cd7fb8b6d4e8c.png') 1x, url('https://imgtr.ee/images/2023/10/22/92585d6d232f7008330cd7fb8b6d4e8c.png') 2x );
	background-size: fit;
	width: 100%;
  height: 103%;
  cursor:  crosshair;
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png) 53 53, crosshair;
}
#bridgeContainer { 
  text-align: center;
  font-family: Avenir, sans-serif;
}
#bridgeContainer figcaption {   
  margin-top: 2rem; 
}

.container {
  flex: 1 !important;
}

.counter-s {
  font-size: 30px;
}

#cart-popup {
  position: absolute;
  top: 100%; /* Position below the cart link */
  left: 0;
  width: 220px;
  text-align: center;
  background: white;
  border: 1px solid #60ac15;
  border-radius: 5px;
  padding: 10px;
  display: none; /* Initially hidden */
  z-index: 1000; /* Set a high z-index value */
}


@media screen and (max-width:540px){
  .centerOnMobile {
    text-align:center
  }
}

@media (max-width: 767px) {
  #products {
    height: 100%;
  }
  .product-heading {
    margin-top: 20px;
  }
  .custom-image {
    height: 800px;
  }
  .custom-image1 {
    width: 100%;
    height: 784px;
  }  
  
}
